.navbar{
    background-color: #77dd77;
    -webkit-box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
    box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
}

.botonlogin{
    margin-left: 3px;
    border: solid 1px gray;
    background-color: #77dd77;
    border-radius: 30%;
    -webkit-box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
    box-shadow: -3px 6px 16px -6px rgba(0,0,0,0.75);
}

.botonlogin:hover{
    transition: 0.5s;
    background-color: rgb(152, 224, 166);

}